#!/bin/bash
#SBATCH --partition={{ partition }} 
#SBATCH --nodes=1
#SBATCH --time={{ time_limit }} 
#SBATCH --job-name={{ job_name }}
#SBATCH --output={{ remote_project_dir }}/slurm_logs/out/out_file.%N.%j.out
#SBATCH --error={{ remote_project_dir }}/slurm_logs/err/error_file.%N.%j.err
#SBATCH --array=0-{{ seed_count }}%{{ concurrency_limit }} 
#SBATCH --exclusive # Use the whole node exclusively


# Get the hostname of the current machine
HOSTNAME=$(hostname)

# Check if the hostname contains the substring "login"
if [[ "$HOSTNAME" == *"login"* ]]; then
    echo "Error: This script cannot be run on a machine with 'login' in its hostname."
    exit 1
fi

# Change to the remote project directory
cd "{{ remote_project_dir }}"
uv sync
source .venv/bin/activate

# FIXME: The relationship here between seed count and agents per node makes no sense
# Run multiple W&B agents in parallel
{% for i in range(agents_per_node) -%}
uv run {{ experiment_script }} experiment.seed=$(( ${SLURM_ARRAY_TASK_ID} + {{ i }} )) &
{% endfor -%}
wait;
