#!/bin/bash
mkdir -p {{ remote_project_dir }}/slurm_logs/err 
mkdir -p {{ remote_project_dir }}/slurm_logs/out 

# Setup the environment
cd {{ remote_project_dir }}
uv sync 

# Copy batch scripts into project root 
cp {{ remote_project_dir }}/lynx/sweep/batch_script.sh .

# Start the agents 
{% for _ in range(node_count) -%}
sbatch batch_script.sh 
{% endfor -%}
