#!/bin/bash
# specify a partition
#SBATCH -p {{ partition }} 
# specify number of nodes
#SBATCH -N 1
# specify the wall clock time limit for the job hh:mm:ss
#SBATCH -t {{ time_limit }} 
# specify the job name
#SBATCH -J {{ job_name }}
# specify the filename to be used for writing output
#SBATCH -o {{ remote_project_dir }}/slurm_logs/out/out_file.%N.%j.out
# specify the filename for stderr
#SBATCH -e {{ remote_project_dir }}/slurm_logs/err/error_file.%N.%j.err

# Get the hostname of the current machine
HOSTNAME=$(hostname)

# Check if the hostname contains the substring "login"
if [[ "$HOSTNAME" == *"login"* ]]; then
    echo "Error: This script cannot be run on a machine with 'login' in its hostname."
    exit 1
fi

# Change to the remote project directory
cd "{{ remote_project_dir }}"
uv sync
source .venv/bin/activate

# Run multiple W&B agents in parallel
{% for i in range(agents_per_node) -%}
wandb agent {{ entity }}/{{ project }}/{{ sweep_id }} &
{% endfor -%}
wait;
